//----- Imports -----//
@import "partials/reset";
@import "partials/clearfix";
@import "partials/variables";
@import "partials/mixins";
@import "partials/grid-init";
//----- /Imports/ -----//


* {
  box-sizing: border-box;
}

//----- Container styles -----//
// Full Width Container
.container-wide {
  @include fixed-container;
  width: 100%; 
}
// Container centered with gutters around content.
.container { 
  @include fixed-container;
  width: 100%;

  @media (min-width: $grid-sm) {
    max-width: $container-mobile;
  }
  @media (min-width: $grid-md) {
    max-width: $container-mobile-lg;
  }
  @media (min-width: $grid-lg) {
    max-width: $container-tablet;
  }
  @media (min-width: $grid-xl) {
    max-width: $container-desktop;
  }
  @media (min-width: $grid-screen-max) {
    max-width: $container-desktop-lg;
  }
}
//----- /Container styles/ -----//